<div class="container mx-auto px-4 py-8">
  <app-header (showHelp)="showModal = true"></app-header>
  <app-help-modal [showModal]="showModal" (closeModal)="showModal = false"></app-help-modal>
<div class="mb-6 flex justify-center">
  <button (click)="showTaskModal = true" class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-lg font-medium transition flex items-center">
    <i class="fas fa-plus-circle mr-2"></i> Nova Tarefa
  </button>
</div>
<app-modal-form [showModal]="showTaskModal" (closeModal)="showTaskModal = false"></app-modal-form>
  <div class="matrix-container grid grid-cols-1 lg:grid-cols-2 gap-6 mb-10">
<app-quadrant [quadrant]="1" title="Urgente e Importante" color="red" icon="exclamation-triangle"></app-quadrant>
<app-quadrant [quadrant]="2" title="Importante, mas não Urgente" color="blue" icon="star"></app-quadrant>
<app-quadrant [quadrant]="3" title="Urgente, mas não Importante" color="yellow" icon="clock"></app-quadrant>
<app-quadrant [quadrant]="4" title="Nem Urgente, nem Importante" color="green" icon="trash-alt"></app-quadrant>

  </div>
  <app-statistics></app-statistics>


</div>